apiVersion: batch/v1
kind: CronJob
metadata:
  name: skylight-engineer-mailreader-worker
  namespace: skylight-engineer-mailreader
spec:
  schedule: "*/10 * * * *"   # 10 dakikada bir
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      backoffLimit: 3
      template:
        spec:
          restartPolicy: OnFailure
          containers:
          - name: worker
            image: docker.io/hafifbilgiler/skylight-engineer-mailreader-worker:0.1
            imagePullPolicy: Always
            env:
            - name: DATABASE_URL
              value: postgresql+psycopg2://mailreader:mailreaderpass@skylight-engineer-mailreader-postgres:5432/mailreader
            - name: MAILREADER_MASTER_KEY
              valueFrom:
                secretKeyRef:
                  name: mailreader-secret
                  key: master-key
            - name: LLM_BASE_URL
              value: http://skylight-engineer-mailreader-llm:8080
